html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.lines {
  position: absolute;
  top: 0;
  bottom: 2em;
  left: 0;
  right: 0;
  overflow: auto;
}
input.command {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 2em;
  line-height: 2em;
  background-color: #111;
  border: 0;
}
.console {
  font-family: monospace;
  color: #48c;
}
.console ul {
  padding: 0;
}
.console li {
  list-style-type: none;
  white-space: pre-wrap;
}
.notice {
  color: #888;
  font-style: italic;
}
.command {
  color: #fff;
}
html, body {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: none;
}
